<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1531944252668-83d381a30b26?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);">
</div>

<h1>Your course</h1>
<div class="main-countainer">
  <%= @course_word.word %> - <%= @course_word.translation%>

  <%= simple_form_for [@course, @subscription, @subscription_word] do |f| %>
  <%= f.input :photo_mother_tongue %>
  <%= f.input :photo_target_word %>
  <%= f.submit  %>
  <% end %>

  <%= link_to "MapCards", course_subscription_subscription_words_path(@course.id, @subscription.id)  %>
  <%= link_to "Courses",  courses_path %>
</div>

<!-- <div id="app">
  <div id="items1">
    <div class="element" data-choosen="false" data-photo-id="1">
      to bark
    </div>
    <div class="element" data-choosen="false" data-photo-id="2">
      a chunk
    </div>
  </div>
  <div id="items2" data-box-number="2">
    <div class="element" data-choosen="true">aboyer</div>
    <div class="element" data-choosen="true">un morceau22</div>
  </div>
</div> -->

<div class="row themapcountenair">
  <div class="col-xs-12 col-sm-4 d-flex">
    <div class="col-xs-12 col-sm-6">
      <div id="target-photo-list">
        <div style="background: url('https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1333&q=80') no-repeat center center fixed; background-size: cover" class="element" data-photo-id="barkPhotoID">
          to bark
        </div>
        <div class="element" data-photo-id="eatPhotoID">
          to eat
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <!-- <div id="items2" data-box-number="2">
        <div class="element" data-choosen="true">aboyer</div>
      </div> -->
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 d-flex">
    <div class="col-xs-1 col-sm-2">
      <div class="searchbar" id="items1">
        <div class="search-form-control form-group">
          <button class='button-letter' name="sq_letter" id="search_query">
          </button>
        </div>
      </div>
      <div class="searchbar">
        <div class="search-form-control form-group">
          <button class='button-letter' name="sq_letter" id="search_query">
            <%= link_to 'B', courses_path(language: "spanish")  %>
          </button>
        </div>
      </div>
    </div>
    <div class="col-xs-11 col-sm-10">
      <div id="map" class="themap">
        <% letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'] %>
        <% letters.each do |letter|%>
          <%current_user.background_images.where(letter: letter).each do |image| %>
          <%=cl_image_tag image.photo %>
          <% end %>
         <!--  <%# raise %> -->
        <% end %>
        
        <div class="row1">
          <div style="width: 100px; height: 100px;" data-dropzone data-x="1" data-y="1"></div>
          <div style="width: 100px; height: 100px;" data-dropzone data-x="2" data-y="1"></div>
          <div style="width: 100px; height: 100px;" data-dropzone data-x="3" data-y="1"></div>
          <div style="width: 100px; height: 100px;" data-dropzone data-x="4" data-y="1"></div>
        </div>
        <div class="row2">
          <div class="x1y3"></div>
          <div class="x2y3">
          </div>
          <div class="x3y3">
          </div>
          <div class="x4y3">
          </div>
        </div>
        <div class="row3">
          <div class="x1y2">
          </div>
          <div class="x2y2">
          </div>
          <div class="x3y2">
          </div>
          <div class="x4y2">
          </div>
        </div>
        <div class="row4">
          <div class="x1y1">
          </div>
          <div class="x2y1">
          </div>
          <div class="x3y1">
          </div>
          <div class="x4y1">
          </div>
        </div>
        <%# else %>
        <%= simple_form_for(@background_image) do |f| %>
        <%= f.input :photo %>
        <%= f.input :letter %>
        <%= f.submit %>
        <% end %>
        <%# end %>
      </div>
    </div>
  </div>
</div>

<!--             <div id="items2" data-box-number="2">
              <div class="element" data-choosen="true">aboyer</div>
            </div> -->
