<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1531944252668-83d381a30b26?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);">
</div>

<h1>Your course</h1>
<div class="main-countainer">
  <%= @course_word.word %> - <%= @course_word.translation%>

  <%= simple_form_for [@course, @subscription, @subscription_word] do |f| %>
  <%= f.input :photo_mother_tongue %>
  <%= f.input :photo_target_word %>
  <%= f.submit  %>
  <% end %>

  <%= link_to "MapCards", course_subscription_subscription_words_path(@course.id, @subscription.id)  %>
  <%= link_to "Courses",  courses_path %>
</div>

<!-- <div id="app">
  <div id="items1">
    <div class="element" data-choosen="false" data-photo-id="1">
      to bark
    </div>
    <div class="element" data-choosen="false" data-photo-id="2">
      a chunk
    </div>
  </div>
  <div id="items2" data-box-number="2">
    <div class="element" data-choosen="true">aboyer</div>
    <div class="element" data-choosen="true">un morceau22</div>
  </div>
</div> -->

<div class="row themapcountenair">
  <div class="col-xs-12 col-sm-4 d-flex">
    <div class="col-xs-12 col-sm-6">
      <div id="target-photo-list">
        <div style="background: url('https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1333&q=80') no-repeat center center fixed; background-size: cover" class="element" data-photo-id="barkPhotoID">
          to bark
        </div>
        <div class="element" data-photo-id="eatPhotoID">
          to eat
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <!-- <div id="items2" data-box-number="2">
        <div class="element" data-choosen="true">aboyer</div>
      </div> -->
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 d-flex">
    <div class="searchbar" id="items1">
      <% letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'] %>

      <div class="image_button_container">
        <div class="button-letter">
          <% letters.each_with_index do |letter, index|%>
          <button id="<%= index %>"  class="letter"><%=letter%></button>          
          <% end %>
        </div>
      </div>
     </div>

     <% @background_images.each_with_index do |image, index| %>
     <div id="map <%= index %>" class="themap maps d-none" style=" background-image : url(<%= image.photo %>);">
      <%= simple_form_for image, method: :patch do |f|%>

        <!-- <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden"> -->
        <!-- <input type="file" name="background_image[photo]"> -->
        <!-- <input name="letter" type="hidden" value="<%= image.letter %>"> -->
        <!-- <input type="submit" name="" id="" value="Submit"> -->
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.input :letter, as: :hidden, :input_html => { :value => image.letter } %>
        <%= f.submit %>
      <% end %>
      <div class="row1">
        <div style="width: 100px; height: 100px;" data-dropzone data-x="1" data-y="1"></div>
        <div style="width: 100px; height: 100px;" data-dropzone data-x="2" data-y="1"></div>
        <div style="width: 100px; height: 100px;" data-dropzone data-x="3" data-y="1"></div>
        <div style="width: 100px; height: 100px;" data-dropzone data-x="4" data-y="1"></div>
      </div>
      <div class="row2">
        <div class="x1y3"></div>
        <div class="x2y3">
        </div>
        <div class="x3y3">
        </div>
        <div class="x4y3">
        </div>
      </div>
      <div class="row3">
        <div class="x1y2">
        </div>
        <div class="x2y2">
        </div>
        <div class="x3y2">
        </div>
        <div class="x4y2">
        </div>
      </div>
      <div class="row4">
        <div class="x1y1">
        </div>
        <div class="x2y1">
        </div>
        <div class="x3y1">
        </div>
        <div class="x4y1">
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>
<!--         <div id="map <%# index %>" class="">
-->    
<%#= f.input :letter %>
<%#= f.submit %>
<%# end %>



<!--             <div id="items2" data-box-number="2">
              <div class="element" data-choosen="true">aboyer</div>
            </div> -->
