
<h1>Your course</h1>
  <div class="main-countainer">
  </div>


  <%= @course_word.word %> - <%= @course_word.translation%>

  <%= simple_form_for [@course, @subscription, @subscription_word] do |f| %>
      <%= f.input :photo_mother_tongue %>
      <%= f.input :photo_target_word %>
      <%= f.submit  %>
  <% end %>

  <%= link_to "MapCards", course_subscription_subscription_words_path(@course.id, @subscription.id)  %>
  <%= link_to "Courses",  courses_path %>





