
<h1>Your course</h1>
<div class="main-countainer">
  <%= @course_word.word %> - <%= @course_word.translation%>

  <%= simple_form_for [@course, @subscription, @subscription_word] do |f| %>
      <%= f.input :photo_mother_tongue %>
      <%= f.input :photo_target_word %>
      <%= f.submit  %>
  <% end %>

  <%= link_to "MapCards", course_subscription_subscription_words_path(@course.id, @subscription.id)  %>
  <%= link_to "Courses",  courses_path %>
</div>

<div id="app">
  <div id="items1">
    <div class="element" data-choosen="false" data-photo-id="1">
      to bark
    </div>
    <div class="element" data-choosen="false" data-photo-id="2">
      a chunk
    </div>
  </div>
  <div id="items2" data-box-number="2">
    <div class="element" data-choosen="true">aboyer</div>
    <div class="element" data-choosen="true">un morceau22</div>
  </div>
</div>

<div class="row themapcountenair">
  <div class="col-xs-12 col-sm-4">
    <div class="col-xs-6 col-sm-2">

    </div>
    <div class="col-xs-6 col-sm-2">

    </div>
  </div>
  <div class="col-xs-12 col-sm-8">
  </div>
</div>