<!-- <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1531944252668-83d381a30b26?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);">
</div> -->


<div class="pagemap" style="background-color: rgb(182, 215, 240);">
  <div class="row themapcountenair">
    <div class="col-xs-12 col-sm-5 d-flex">
      <div class="col-xs-10 col-sm-5">
        <div class="image" data-photo-id="eatPhotoID">
          <div class="word-to-remember">
            <%= @course_word.word.capitalize %>
          </div>
          <div class='container-search' data-photo-id="search">
            <div class="image-search-bar">
              <%= form_tag course_subscription_path(@course.id, Subscription.all.where(user: current_user).where(course: @course).first.id), method: :get, remote: true do %>
              <%= text_field_tag :q1,
              params[:q1],
              class: "form-control",
                placeholder: "Find an image"
                %>
              <% end %>
            </div>
          </div>
        </div>
        <div id="target-photo-list" data-photo-id="search">
          <% if @image_target_results.any? %>
          <% @image_target_results.each do |url| %>
          <img data-category="target" src="<%= url %>" alt="" class="image-result">
          <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-10 col-sm-5">
        <div class="image" data-photo-id="eatPhotoID">
          <div class="word-to-remember">
          <%= @course_word.translation.capitalize %>
          </div>
          <div class='container-search' data-photo-id="search">
            <div class="image-search-bar">
            <%= form_tag course_subscription_path(@course.id, Subscription.all.where(user: current_user).where(course: @course).first.id), method: :get, remote: true do %>
                <%= text_field_tag :q2,
                params[:q2],
                class: "form-control",
                placeholder: "Find an image"
                  %>
                  <% end %>
            </div>
          </div>
        </div>
        <div id="mother-photo-list" data-photo-id="search">
          <% if @image_mother_results.any? %>
          <% @image_mother_results.each do |url| %>
          <img data-category="mother" src="<%= url %>" alt="" class="image-result">
          <% end %>
          <% else %>
            <div class="no-result-for-search">
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-2 col-sm-2">
        <div class="searchbarall d-flex">
          <div class="searchbar" id="items1">
            <% letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm'] %>
            <div class="image_button_container">
              <div class="button-letter">
                <% letters.each_with_index do |letter, index|%>
                <button id="<%= index %>"  class="letter"><%=letter%></button>
                <% end %>
              </div>
            </div>
          </div>
          <div class="searchbar" id="items1">
            <% letters = ['n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'] %>
            <div class="image_button_container">
              <div class="button-letter">
                <% letters.each_with_index do |letter, index|%>
                <button id="<%= index = index + 13 %>"  class="letter"><%=letter%></button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-7 d-flex">
      <div class="col-xs-12 col-sm-12">
        <% @background_images.each_with_index do |image, index| %>
        <div id="map <%= index %>" class="themap maps d-none" style=" background-image : url(<%= cl_image_path(image.photo.url) %>);">
          <div class="row1">
            <div class="picture-dropzone" data-dropzone data-x="1" data-y="1"></div>
            <div class="picture-dropzone" data-dropzone data-x="2" data-y="1"></div>
            <div class="picture-dropzone" data-dropzone data-x="3" data-y="1"></div>
            <div class="picture-dropzone" data-dropzone data-x="4" data-y="1"></div>
          </div>
          <div class="row2">
            <div class="picture-dropzone" data-dropzone data-x="1" data-y="2"></div>
            <div class="picture-dropzone" data-dropzone data-x="2" data-y="2"></div>
            <div class="picture-dropzone" data-dropzone data-x="3" data-y="2"></div>
            <div class="picture-dropzone" data-dropzone data-x="4" data-y="2"></div>
          </div>
          <div class="row3">
            <div class="picture-dropzone" data-dropzone data-x="1" data-y="3"></div>
            <div class="picture-dropzone" data-dropzone data-x="2" data-y="3"></div>
            <div class="picture-dropzone" data-dropzone data-x="3" data-y="3"></div>
            <div class="picture-dropzone" data-dropzone data-x="4" data-y="3"></div>
          </div>
          <div class="row4">
            <div class="picture-dropzone" data-dropzone data-x="1" data-y="4"></div>
            <div class="picture-dropzone" data-dropzone data-x="2" data-y="4"></div>
            <div class="picture-dropzone" data-dropzone data-x="3" data-y="4"></div>
            <div class="picture-dropzone" data-dropzone data-x="4" data-y="4"></div>
          </div>
          <div class="row5">
            <div class="picture-dropzone" data-dropzone data-x="1" data-y="5"></div>
            <div class="picture-dropzone" data-dropzone data-x="2" data-y="5"></div>
            <div class="picture-dropzone" data-dropzone data-x="3" data-y="5"></div>
            <div class="picture-dropzone" data-dropzone data-x="4" data-y="5"></div>
            <div class="picture-dropzone" data-dropzone data-x="5" data-y="5"></div>
          </div>
          <div class="row6">
            <div class="picture-dropzone" data-dropzone data-x="1" data-y="6"></div>
            <div class="picture-dropzone" data-dropzone data-x="2" data-y="6"></div>
            <div class="picture-dropzone" data-dropzone data-x="3" data-y="6"></div>
            <div class="picture-dropzone" data-dropzone data-x="4" data-y="6"></div>
            <div class="picture-dropzone" data-dropzone data-x="5" data-y="6"></div>
          </div>
        </div>
        <div id="form <%= index %>" class="maps d-none">
          <%= simple_form_for image, method: :patch do |f|%>
          <input class="form-control-file file optional inputfile" type="file" name="background_image[photo]" id="background_image_photo">
          <label for="background_image_photo">Edit background image</label>
          <%= f.input :photo_cache, label: false, as: :hidden %>
          <%= f.input :letter, as: :hidden, :input_html => { :value => image.letter } %>
          <%= f.button :submit, "Upload", class: "button" %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div style="display: none;">
    <%= simple_form_for [@course, @subscription, @subscription_word] do |f| %>
    <%= f.input :course_word_id %>
    <%= f.input :photo_mother_tongue %>
    <%= f.input :photo_mother_tongue_x %>
    <%= f.input :photo_mother_tongue_y %>
    <%= f.input :photo_target_word %>
    <%= f.input :photo_target_word_x %>
    <%= f.input :photo_target_word_y %>
    <%= f.input :background_image_id, input_html: { value: @subscription.user_id } %>
    <%= f.submit id: "submitFormButton" %>
    <% end %>
  </div>
  <div class="button-container">
    </div>
    <div class="buttons-for-map">
      <button name="button" type="submit" class="mapbutton">
        <%= link_to "Courses",  courses_path %>
      </button>
      <button name="button" type="submit" class="mapbutton">
        <%= link_to "FlashCards", course_subscription_subscription_words_path(@course.id, @subscription.id)  %>
      </button>
      <button id="nextWordButton" name="button" type="submit" class="button">
        Next
      </button>
    </div>
  </div>
</div>
<div style="display: none;">

  <% simple_form_for [@course, @subscription, @subscription_word] do |f| %>
  <% f.input :photo_mother_tongue %>
  <% f.input :photo_target_word %>
  <% f.submit  %>
  <% end %>
</div>




