<div class=courses-page>

  <h1 class="highlight">My courses</h1>
    <% if current_user != nil %>
      <% @my_courses.each do |course| %>
        <% if !@my_courses.present? %>
        <p>No courses yet!</p>
        <% end %>
        <div class="popup">
          <%= link_to course_subscription_path(course.id, Subscription.all.where(user: current_user).where(course: course).first.id) do %>
          <div class="card-trip">
            <img src="<%=course.picture%>">
            <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg"> -->
            <div class="card-trip-infos">
              <h2><%= course.name.capitalize %></h2>
            </div>
            <% percentage = current_user.mapping_percentage(course.id) %>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated length" role="progressbar" aria-valuenow="<%= percentage %>%" aria-valuemin="0" aria-valuemax="100" style="width: <%= percentage %>%">
              </div>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
    <% end %>

  <h1 class="highlight">Discover other courses</h1>
      <% @courses.each do |course| %>
      <div class="popup">
        <%= link_to subscription_path(course: course), method: :post do%>
        <div class="card-trip"
          data-toggle="popover"
          data-placement="right"
          title="<b>Price - €9.99</b><br>Duration - 2 hours"
          data-content='So basically this will be some content about the course but I think we will need to seed this and make a specific text per course, what do you think DreamTeam' >
                        <!-- above we pass the course in the url string properly -->
         <img src="<%=course.picture%>">
          <div class="card-trip-infos">
            <h2><%= course.name.capitalize %></h2>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>
    </div>
  </div>
</div>

